@charset "utf-8";  

/* 
 * Base styles
 */
html, body {
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	font-weight:400;
	line-height:1.6;
	font-size:18px;
	color:gray;  
	overflow-x:none;
}

/* 
 * Page wrapper
 */
#wrapper {
	width:100%;
	height:100%;
}

/* 
 * Styling for main navigational area (centered by JavaScript)
 */
#nav {
	width:95%;
	height:70px;
	position:fixed;
	z-index:1000;
}

/* 
 * Styling for main navigational background gradient (centered by JavaScript)
 */
#nav-bg {
	width:100%;
	height:70px;
	position:fixed;
	left:0;
	background-image: 
	linear-gradient(bottom, rgba(255,255,255,0.75) 5%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,0.96) 65%);
	background-image: 
	-o-linear-gradient(bottom, rgba(255,255,255,0.75) 5%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,0.96) 65%);
	background-image: 
	-moz-linear-gradient(bottom, rgba(255,255,255,0.75) 5%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,0.96) 65%);
	background-image: 
	-webkit-linear-gradient(bottom, rgba(255,255,255,0.75) 5%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,0.96) 65%);
	background-image: 
	-ms-linear-gradient(bottom, rgba(255,255,255,0.75) 5%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,0.96) 65%);
	background-image: 
	-webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.05, rgba(255,255,255,0.75)),
	color-stop(0.30, rgba(255,255,255,0.85)),
	color-stop(0.65, rgba(255,255,255,0.96))
	);
	z-index:999;
}

/* 
 * Seperator bar divides main navigational and content areas (centered by JavaScript)
 */
#separator {
	width:95%;
	height:2px;
	position:absolute;
	top:100px;
	background-image:
	linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-o-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-moz-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-webkit-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-ms-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-webkit-gradient(
		linear,
		0%, 0%, 0%, 0%,
		color-stop(0, rgba(242,242,242,1.0)),
		color-stop(0.5, rgba(228,228,228,1.0)),
		color-stop(1, rgba(242,242,242,1.0))
	);
	z-index:998;
}

/* 
 * Main content container (centered by JavaScript)
 */
#content {
	width:95%;
	height:auto;
	position:absolute;
	top:100px;
}

/* 
 * Site copyright information (centered by JavaScript)
 */
#footer {
	width:100%;
	height:40px;
	position:fixed;
	bottom:0;
	font-size:16px;
	text-align:center;
	line-height:38px;
	background:#fafafa;
	z-index:1001;
	opacity:0.0;
}
#footer-separator {
	width:100%;
	height:2px;
	position:fixed;
	bottom:40px;
	background-image:
	linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-o-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-moz-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-webkit-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-ms-linear-gradient(left, rgba(242,242,242,1.0) 0%, rgba(228,228,228,1.0) 50%, rgba(242,242,242,1.0) 100%);
	background-image:
	-webkit-gradient(
		linear,
		0%, 0%, 0%, 0%,
		color-stop(0, rgba(242,242,242,1.0)),
		color-stop(0.5, rgba(228,228,228,1.0)),
		color-stop(1, rgba(242,242,242,1.0))
	);
	z-index:1002;
}
 
/* 
 * Hide the base template from which JavaScript builds the sites structure from 
 */
#templates {
	display:none;
}
 
/* 
 * Primary navigation links. 
 */
#nav ul {
	width:100%;
	height:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#nav ul li {
	height:100%;
	line-height:70px;
	float:right;
	margin:0 5px 0 5px;
}
#nav ul li.appName {
	line-height:70px;
	font-size:26px;
	float:left;
}
#nav ul li.appName a {
	color:#353535;
	font-weight:bolder;
}
#nav ul li.pipe {
	color:#E4E4E4;
}
#nav ul li a {
	color:#BABABA;
	font-weight:bold;
	text-decoration:none;
}
#nav ul li a.selected {
	color:#353535;
}
#nav ul li a:hover {
	color:#353535;
	text-decoration:underline;
}

/* 
 * Secondary navigation links. 
 */
#index {
	position:fixed;
	margin-top:20px;
	height:auto;
	width:200px;
	min-width:150px;
	right:2.5%;
	text-align:right;
	line-height:20px;
	z-index:1;
}
#index h3 {
	margin:5px 0 0 0;
	color:#353535;
	font-size:inherit;
}
#index a {
	color:#BABABA;
	display:block;
	text-decoration:none;
}
#index a.selected {
	color:#90F;
}
#index a:hover {
	text-decoration:underline;
}

/* 
 * Styling for various anchor references
 */
a.sec_ref {
	display:block;
	position:relative;
	top:-100px;
	visibility:hidden;
}
a.sub_sec_ref {
	display:block;
	position:relative;
	top:-250px;
	visibility:hidden;
}
a.sub_sec_ref {
	display:block;
	position:relative;
	top:-250px;
	visibility:hidden;
}

/* 
 * Main content areas
 */
section {
	position:relative;
	margin-top:20px;
	margin-bottom:50px;
	height:auto;
	width:900px;
	min-width:500px;
	z-index:500;
	background:#fff;
	min-width:900px;
}

/* 
 * Each content section contains a single article
 */
section article {
  -moz-box-shadow:    3px 3px 3px 0 #f0f0f0;
  -webkit-box-shadow: 3px 3px 3px 0 #f0f0f0;
  box-shadow:         3px 3px 3px 0 #f0f0f0;
}

/* 
 * Aside contains right side tracking/navigation HTML (this becomes fixed)
 */
aside {
	display:none;
}

/* 
 * Style for right side navigation headers
 */
div#index h3 a {
	cursor:pointer;
	color:#333;
}

/* 
 * Styling for section article header
 */
section article h2 {
	color:#353535;
	font-weight:bolder;
	font-size:28px;
	text-decoration:none;
}
section article h2.h2_wrapper {
	padding-left:10px;
	border-bottom:1px solid rgba(228,228,228,0.0);
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
  -moz-box-shadow:    -5px 0 1px -1px #353535;
  -webkit-box-shadow: -5px 0 1px -1px #353535;
  box-shadow:         -5px 0 1px -1px #353535;
}
section article h3.h3_wrapper {
	padding-left:10px;
	border-bottom:1px solid rgba(228,228,228,0.0);
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
  -moz-box-shadow:    -5px 0 1px -1px gray;
  -webkit-box-shadow: -5px 0 1px -1px gray;
  box-shadow:         -5px 0 1px -1px gray;
}

/* 
 * Base styling for sub section content areas
 */
section article div.sub_section {
	border-bottom:1px solid rgba(228,228,228,0.0);
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
  -moz-box-shadow:    -5px 0 0px 0px #93f;
  -webkit-box-shadow: -5px 0 0px 0px #93f;
  box-shadow:         -5px 0 0px 0px #93f;
}
section article div.sub_section {
	padding-bottom:10px;
	padding-top:10px;
	cursor:pointer;
	border-bottom:1px solid #d0d0d0;
}
section article div.sub_section:hover {
	background:#fafafa;
}
section a {
	color:#90F;
	text-decoration:none;
}
section a:hover {
	text-decoration:underline;
}
section article p {
	color:#909090;
	font-weight:400;
}
section article ul {
	color:#909090;
	font-weight:400;
}
section article code {
	padding:2px;
	font-size:0.9em;
	background-color:rgba(250,250,250,1.0);
	border:1px solid rgba(228,228,228,1.0);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
section article pre {
	margin:0;
  color:#eeeeee;
  font-weight:normal;
  font-style:normal;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	display:inline;
	cursor:text;
}
section article pre:focus {
	outline:0px solid transparent;
}

/* 
 * Styling for "more content available" elipsis indicator
 */
section article div {
	position:relative;
}
section article div .elipsis {
	font-size:24px;
	font-weight:bold;
	width:100%;
	position:absolute; 
	bottom:-7px; 
	text-align:center; 
}

/* 
 * Classes for sections not in "focus" and "blur" states
 */
.section_overlay {
	background:#f0f0f0;
	opacity:0.3;
}
.section_selected {
	background:#f7f7f7;
	opacity:1.0;
}

/* 
 * Styling for areas in sub sections that contain example code
 */
section article .codeBlock {
	margin:0;
	padding:10px;
	font-size:16px;
	background-color:#333;
	border:1px solid rgba(228,228,228,0.0);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-family:monospace;
	letter-spacing:-1px;
}
section article .result_output {
	font-weight:bold;
	color:#aaa;
}

/* 
 * Styling for articles that are describing regular (non-method) sub sections
 */
section article h4.entry {
	margin:0;
	height:32px;
	line-height:30px;
	color:#000;
	font-size:120%;
}
section article h4.entry div.float_left {
	float:left;
}
section article h4.entry div.entryName {
	padding-left:10px;
}
.entryDescription {
	padding-right:20px;
	padding-left:20px;
	color:#333;
	position:relative;
}
section article .entryDescription p {
	color:#333;
}
section article span.entryShortDescription {
	opacity:0;
	display:none;
}
section article span.entryExtendedDescription {
	opacity:0;
	display:none;
}
section article .entryExamples {
	margin-top:10px;
	font-size:12px;
	color:#333;
}
section article .entryExamples span.title {
	font-weight:bold;
}

/* 
 * Styling for articles that are describing method sub sections
 */
section article h4.method {
	margin:0;
	height:32px;
	line-height:30px;
	color:#333;
	font-size:130%;
}
section article h4.method div.float_left {
	float:left;
}
section article h4.method div.float_right {
	float:right;
}
section article h4.method div.methodName {
	padding-left:10px;
	font-weight:bolder;
	letter-spacing:1px;
}
section article h4.method div.methodName .argumentParens {
	font-size:100%;
}
section article h4.method div.methodName .argumentCommas {
	color:#909090;
}
section article h4.method div.methodName .argumentAsterisks {
	color:#333;
}
section article .methodDescription {
	padding-right:10px;
	padding-left:20px;
	color:#333;
	position:relative;
}
section article span.methodShortDescription {
	opacity:0;
	display:none;
}
section article span.methodExtendedDescription {
	opacity:0;
	display:none;
}
section article .methodReturns {
	display:none;
	margin-top:10px;
	padding-right:20px;
	padding-left:20px;
	font-size:12px;
	color:#333;
}
section article .methodReturns span.title {
	font-weight:bold;
}
section article .methodReturns span.returns {
	font-weight:bold;
	font-style:italic;
	color:#909090;
}
section article .methodAliases {
	display:none;
	margin-top:10px;
	padding-right:20px;
	padding-left:20px;
	font-size:12px;
	color:#333;
}
section article .methodAliases span.title {
	font-weight:bold;
}
section article .methodAliases span.aliases {
	font-style:italic;
	color:#333;
}
section article .methodExamples {
	display:none;
	margin-top:10px;
	padding-right:20px;
	padding-left:20px;
	color:#333;
}
section article .methodExamples span.title {
	font-weight:bold;
	font-size:12px;
}

/* 
 * Increases the scroll length to insure all navigation links are scrollable
 */
section:last-child {
	margin-bottom:1500px; 
}

/* 
 * Styling used to apply special styling to all expando menus per codeBlock but the last
 */
.codeBlock ul.expando:not(:last-child) {
	margin-bottom:10px;
}

/* 
 * Styling used by expando menus
 */
.expando {
	list-style:none;
	color:#fff;
	display:block;
	padding:0;
	margin-top:0;
	margin-left:15px;
	margin-bottom:0;
}
.expando * ul {
	list-style:none;
}
.expando_index {
	color:#ccc;
}
.expando_arrow {
	position:absolute;
	top:6px;
	left:-16px;
	width:0;
	height:0;
}
.expando_arrow_right {
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:10px solid #ccc;
}
.expando_arrow_down {
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:10px solid #ccc;
}
.expando_hidden {
	display:none;
}
.expando_main_title {
	font-style:italic;
}
.expando_value_undefined {
	color:#666;
}
.expando_value_bool {
	font-family:"Courier New", Courier, monospace;
}
.expando_value_null {
	font-family:"Courier New", Courier, monospace;
	color:#666;
}
.expando_value_number {
	color:#F90;
}
.expando_value_nan {
	color:#F90;
}
.expando_value_string {
	color:#6C0;
}